{{ define "title" }}
  {{ .Site.Title }} &#124; {{ .Title }}
{{ end }}

{{ define "nav" }}
 {{ partial "nav" . }}
{{ end }}

{{ define "main" }}
  <div class="content-list-posts pure-u-1 pure-u-md-1-2">
    <h3>
      Some musings
      {{- if .Site.Params.postsRepo -}}
          <a href="{{ .Site.Params.postsRepo }}">
            <i class="fa fa-github"></i>
          </a>
      {{- end -}}
    </h3>
    {{ range .Data.Pages.ByPublishDate }}
    <div class="list-blurb">
      <div class="list-post-title">
        <strong><a href="{{ .RelPermalink }}">{{ .Title | markdownify }}</a></strong>
      </div>
      <div class="list-post-date">
        {{- .Date.Format "January 2, 2006" -}}
      </div>
    </div>
    {{ end }}
  </div>
{{ end }}