{{ define "title" }}
  {{ .Site.Title }}
{{ end }}

{{ define "main" }}
<div id="landing-page" class="pure-u-1 pure-u-md-1-2">
  <div class="logo-container">
    <div id="big-logo-box" class="big-logo">
      <span></span>
    </div>
  </div>
  <div class="landing-par">
    <h4>Hey, this is <a href="/about/">Platpi</a> (platypus + pi)</h4>
    <span>
      <a href="/about/">Who</a>
      <a href="/projects/">What</a>
      <a href="/posts/">Why</a>
    </span>
    <!-- <p id="landing-page-par">We create great applications for humans. <br /><br />
      We're humans too, <a href="/posts/">to be clear</a>.<br /><br />Here are some <a href="/projects/">projects</a> we're working on.
     </p>-->
  </div>
  <!-- <div class="landing-projects pure-g">
    {{ range first 3 (where .Site.Pages "Type" "projects") }}
      <div class="project pure-u-1 pure-u-md-1-3">
        <a href="/projects/">
          {{ partial "logos/main" (dict "page" "landing-page" "logo" .Params.logo) }}
          <h3 class="clear-both">{{ .Title }}</h3>
        </a>
      </div>
    {{ end }}
      <div class="project pure-u-1 pure-u-md-1-3 temp-question-delete-on-3">
        <a href="/projects/">
          <h3 class="clear-both"><i class="fa fa-question"></i></h3>
        </a>
      </div>
  </div> -->
</div>
{{ end }}