<!DOCTYPE html>
<html>
  <head>
      <title>{{ block "title" . }}
        {{- .Site.Title -}}
      {{ end }}</title>
      {{ partial "head_includes" .}}
  </head>
  <body>
    <div class="wrapper {{ if .IsHome }}home{{ end }}">
      {{ block "nav" . }}
      {{ end }}
      <div class="block-main pure-g">
        {{ block "main" . }}
        {{ end }}
      </div>
      {{ partial "footer" .}}
    </div>
    <script type="text/javascript">
      window.isLandingPage = "{{ .Title }}" === "{{ .Site.Title }}";
    </script>
    {{ partial "js" . }}
  </body>
</html>
