/**
 * Im avoiding sass and an overly complex
 * toolchain that just 'happens' when you add
 * one dependency to your build process with js
 * these days. So ill define high level theme vars
 * here and perhpas a find-and-replace will suffice
 *
 *
 * // sizing
 * default_font_size: 14px
 * default_border_radius: 2px
 *
 *
 * new colors
 * dark bg blue - 021A2C
 * light color blue -  f5f8fb
 * orange - FF7338
 * green 00AC67
 *
 * 
 */

/**
 * Main content
 */


html, button, input, select, textarea,
.pure-g [class *= "pure-u"] {
    /* Set your content font stack here: */
    font-family: "Lato", "Helvetica", sans-serif;
}


body {
  font-size: 16px; /* default_font_size */
}

body p {
  line-height: 1.4em;
}

.wrapper {
  position: relative;
  overflow: hidden;
  min-height: 100vh;
  background-color: #021A2C;
  color: #f5f8fb;
}

[class^="content"] {
  margin: 0 auto;
}
[class^="content"]> h3,
[class^="content"]> h4,
[class^="content"]> h5 {
  text-align: center;
  /*border-bottom: 1px solid #f5f8fb;*/
  color: #f5f8fb;
}
.float-right {
  float: right;
}
.float-left {
  float: left;
}
.clear-both {
  clear: both;
}
.block-main {
  margin-top: 6em;
  margin-bottom: 4em;
  padding: 0 15px;
}
.text-align-center {
  text-align: center;
}

/**
 * elements
 */

a, a:link, a:visited, a:focus, a:hover a:active {
  color: #08f193; /* primary_color_light */
  cursor: pointer;
  text-decoration: none;
  
  transition: color 0.2s ease-in-out;
  -webkit-transition: color 0.2s ease-in-out;
  -moz-transition: color 0.2s ease-in-out;
  -ms-transition: color 0.2s ease-in-out;
  -o-transition: color 0.2s ease-in-out;
}

a:hover {
  opacity: 0.5;
}

h3 {
  font-size: 1.5em;
  letter-spacing: 2px;
}

/**
 * Code snippet styling
 */
code {
  background: #f4f5f6;
  color: #021A2C;
  border-radius: .4rem;
  font-size: 86%;
  margin: 0 .2rem;
  padding: .2rem .5rem;
  white-space: nowrap;
  font-size: 1em;
}

pre {
  background: #f4f5f6;
  border-left: 0.3rem solid #00AC67;
}

pre > code {
  border-radius: 0;
  display: block;
  padding: 1rem 1.5rem;
  white-space: pre;
}

/**
 * Navigation
 * I grabbed the hamburgers from Jonathan Suh, see below
 */

.header-nav, #landing-nav {
  color: white;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}

/**
 * We use psuedo elements to do gradient css transitions
 */
/*.header-nav::before {
  content: '';
  z-index: -2;
  display: block;
  width: 100%;
  height: 100%;
  background-color: white; 
  position: absolute;
  opacity: 0.85;
}*/

.header-nav::after {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  z-index: -1;
  position: absolute;
  background: rgba(2,26,44,0.9);
  
  -moz-border-image: -moz-linear-gradient(right, rgba(255, 115, 56, 1) 0%, rgba(0, 172, 103, 1) 100%);
  -webkit-border-image: -webkit-linear-gradient(right, rgba(255, 115, 56, 1) 0%, rgba(0, 172, 103, 1) 100%);
  border-image: linear-gradient(to left, rgba(255, 115, 56, 1) 0%, rgba(0, 172, 103, 1) 100%);
  border-image-slice: 1;
  border-bottom: 2px solid transparent;
  transition: opacity 0.5s ease;
  -webkit-transition: opacity 0.5s ease;
  -moz-transition: opacity 0.5s ease;
  -ms-transition: opacity 0.5s ease;
  -o-transition: opacity 0.5s ease;
}

/**
 * Styling with gradient background
 */
.header-nav a,
.header-nav a:link,
.header-nav a:visited,
.header-nav a:focus,
.header-nav a:active,
.header-nav a:hover {
  color: white;
}
.header-nav .hamburger-inner,
.header-nav .hamburger-inner::after,
.header-nav .hamburger-inner::before {
  background-color: white;
}

#main-nav-list {
  margin: 0 auto;
  text-align: left;
  border-radius: 2px;
  width: 25em;
}

#landing-nav-list ul, #main-nav-list ul {
  list-style: none;
  font-size: 2em;
  margin: 0; 
  padding-bottom: 10px;
}

#main-nav-list ul li {
  padding: 8px 0;
}

.nav-options {
  max-height: 0;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: max-height 0.5s ease, opacity 0.4s ease 0.1s;
  -moz-transition: max-height 0.5s ease, opacity 0.4s ease 0.1s; 
  -ms-transition: max-height 0.5s ease, opacity 0.4s ease 0.1s;
  -o-transition: max-height 0.5s ease, opacity 0.4s ease 0.1s;
  transition: max-height 0.5s ease, opacity 0.4s ease 0.1s;
}

/**
 * Active navigation - menu grows and opacity is altered for visibility
 */
/*.header-nav.transparent.is-active::before {
  opacity: 0.9;
  transition: opacity 0.1s ease-out 0.1s;
  -webkit-transition: opacity 0.3s ease-out 0.1s;
  -moz-transition: opacity 0.3s ease-out 0.1s;
  -ms-transition: opacity 0.3s ease-out 0.1s;
  -o-transition: opacity 0.3s ease-out 0.1s;
}*/

.header-nav.is-active .nav-options{
  max-height: 30em;
  opacity: 0.9;
  pointer-events: all;
}

/*.header-nav.transparent.is-active .nav-options{
  max-height: 30em;
  opacity: 0.9;

  transition: opacity 0.5s ease 0.1s;
  -webkit-transition: opacity 0.5s ease 0.1s;
  -moz-transition: opacity 0.5s ease 0.1s;
  -ms-transition: opacity 0.5s ease 0.1s;
  -o-transition: opacity 0.5s ease 0.1s;
}*/

/**
 * Logo styling
 */
#header-logo {
  position: absolute;
  padding-left: 15px;
}

#header-logo a {
  display: block;
  width: 3em;
  height: 3em;
}

.header-nav .logo span {
  border-radius: 50%;
  display: inline-block;
  border: 3px solid #fff;
  width: 2em;
  position: absolute;
  top: 7px;
  height: 2em;
  box-shadow: 1.5px -0.5px 5px #08f193;
}

/*.header-nav .logo span,
.header-nav .logo span::after,
.header-nav .logo span::before {
  content: '';
  position: absolute;
  background-color: white;
  display: inline-block;
  opacity: 0.9;

  transition: background-color 0.2s ease;
  -webkit-transition: background-color 0.2s ease;
  -moz-transition: background-color 0.2s ease;
  -ms-transition: background-color 0.2s ease;
  -o-transition: background-color 0.2s ease;
}

.header-nav .logo span::before {
  top: 7px;
  left: 5px;
  width: 5px;
  height: 25px;
  box-shadow: 1px 1px 0.8px #08f193;
  border-radius: 1px;
}
.header-nav .logo span {
  top: 11px;
  width: 30px;
  height: 5px;
  box-shadow: 1px -0.5px 0.8px #08f193;
  border-radius: 1px;
}
.header-nav .logo span::after {
  width: 5px;
  height: 25px;
  top: 5px;
  left: 20px;
  box-shadow: 1px 0px 0.8px #08f193;
  border-bottom-right-radius: 1px;
  border-bottom-left-radius: 1px;
}*/

/*!
 * Hamburgers
 * @description Tasty CSS-animated hamburgers
 * @author Jonathan Suh @jonsuh
 * @site https://jonsuh.com/hamburgers
 * @link https://github.com/jonsuh/hamburgers
 */
.hamburger {
  padding: 15px 15px;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible; }
  .hamburger:hover {
    opacity: 0.7; }
  .hamburger:focus {
    outline: 0;
  }

.hamburger-box {
  width: 30px;
  height: 24px;
  display: inline-block;
  position: relative; }

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px; }
  .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
    width: 30px;
    height: 4px;
    border-bottom: 1px solid #08f193;
    border-radius: 1px;
    background-color: #06426e;
    position: absolute;
    transition-property: transform;
    transition-duration: 0.15s;
    transition-timing-function: ease-in-out;
    }
  .hamburger-inner::before, .hamburger-inner::after {
    content: "";
    display: block; }
  .hamburger-inner::before {
    top: -10px; }
  .hamburger-inner::after {
    bottom: -10px; }

/*
   * Collapse
   */
.hamburger--collapse .hamburger-inner {
  top: auto;
  bottom: 0;
  transition-duration: 0.15s;
  transition-delay: 0.15s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  .hamburger--collapse .hamburger-inner::after {
    top: -20px;
    transition: top 0.3s 0.3s cubic-bezier(0.33333, 0.66667, 0.66667, 1), opacity 0.1s linear; }
  .hamburger--collapse .hamburger-inner::before {
    transition: top 0.12s 0.3s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.15s cubic-bezier(0.55, 0.055, 0.675, 0.19); }

.hamburger--collapse.is-active .hamburger-inner {
  transform: translate3d(0, -10px, 0) rotate(-45deg);
  transition-delay: 0.32s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  .hamburger--collapse.is-active .hamburger-inner::after {
    top: 0;
    opacity: 0;
    transition: top 0.3s cubic-bezier(0.33333, 0, 0.66667, 0.33333), opacity 0.1s 0.27s linear; }
  .hamburger--collapse.is-active .hamburger-inner::before {
    top: 0;
    transform: rotate(-90deg);
    transition: top 0.12s 0.18s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.15s 0.42s cubic-bezier(0.215, 0.61, 0.355, 1); }

/*
   * Collapse Reverse
   */
.hamburger--collapse-r .hamburger-inner {
  top: auto;
  bottom: 0;
  transition-duration: 0.15s;
  transition-delay: 0.15s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  .hamburger--collapse-r .hamburger-inner::after {
    top: -20px;
    transition: top 0.3s 0.3s cubic-bezier(0.33333, 0.66667, 0.66667, 1), opacity 0.1s linear; }
  .hamburger--collapse-r .hamburger-inner::before {
    transition: top 0.12s 0.3s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.15s cubic-bezier(0.55, 0.055, 0.675, 0.19); }

.hamburger--collapse-r.is-active .hamburger-inner {
  transform: translate3d(0, -10px, 0) rotate(45deg);
  transition-delay: 0.32s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  .hamburger--collapse-r.is-active .hamburger-inner::after {
    top: 0;
    opacity: 0;
    transition: top 0.3s cubic-bezier(0.33333, 0, 0.66667, 0.33333), opacity 0.1s 0.27s linear; }
  .hamburger--collapse-r.is-active .hamburger-inner::before {
    top: 0;
    transform: rotate(90deg);
    transition: top 0.12s 0.18s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.15s 0.42s cubic-bezier(0.215, 0.61, 0.355, 1); }

/**
 * Pages
 */

/**
 * Main landing page
 */

#landing-nav, #landing-nav::after, #landing-nav::before {
  background: none;
}
#landing-page {
  margin: 0 auto;
  text-align: center;
  color: white;
}
#landing-page .landing-par a {
  color: white;

  transition: color 0.4s ease;
  -webkit-transition: color 0.4s ease;
  -moz-transition: color 0.4s ease;
  -ms-transition: color 0.4s ease;
  -o-transition: color 0.4s ease;
}
#landing-page .landing-par span a {
  padding: 0 1.5em;
  font-size: 1.3em;
} 
/* link color changes with logo */
#landing-page.green .landing-par a { color: #08f193; }
#landing-page.orange .landing-par a { color: #FF7338; }
#landing-page.dark .landing-par a { color: #0E5590; }

#landing-page h4 {
  font-size: 1.5em;
  font-weight: 300;
  letter-spacing: 1.5px;
}
#landing-page p {
  font-size: 1.3em;
}
.wrapper.home {
  /* main background gradient - change this here
  /* Create one at: http://colorzilla.com/gradient-editor/ */
  background: -moz-linear-gradient(-45deg, rgba(2,26,44, 1) 10%, rgba(4, 55, 93, 1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, rgba(2,26,44,1) 10%,rgba(4, 55, 93, 1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, rgba(2,26,44,1) 10%,rgba(4, 55, 93, 1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#8f188df0',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
.wrapper.home .block-main {
  margin-top: 4em;
}
#landing-nav-list ul li {
  float: right;
  padding: 5px 10px;
}
/* Main large logo styling and transitions */
#landing-page .big-logo {
  margin: 0 auto;
  position: relative;
}

#landing-page .big-logo span {
  margin: 0 auto;
  display: block;
  width: 12em;
  height: 12em;
  border-radius: 50%;
  position: relative;
  background: : -moz-linear-gradient(-45deg, rgba(255, 115, 56, 1) 0%, rgba(0, 172, 103, 1) 100%);
  background: -webkit-linear-gradient(-45deg, rgba(255, 115, 56, 1) 0%, rgba(0, 172, 103, 1) 100%);
  background: linear-gradient(135deg, rgba(255, 115, 56, 1) 0%, rgba(0, 172, 103, 1) 100%);
}

#landing-page .big-logo span:after {
  position: absolute;
  display: block;
  height: 11.5em;
  width: 11.5em;
  content: '';
  top: 4px;
  left: 4px;
  border-radius: inherit;
  background: -moz-linear-gradient(-45deg, rgba(2,26,44, 1) 10%, rgba(4, 55, 93, 1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, rgba(2,26,44,1) 10%,rgba(4, 55, 93, 1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, rgba(2,26,44,1) 10%,rgba(4, 55, 93, 1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#8f188df0',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

/* Projects list on landing page */
.landing-projects {
  margin-bottom: 5em;
}
.landing-projects .project {
  border-radius: 2px;
  font-size: 1.2em;
  letter-spacing: 2px;
  padding: 10px 0;
  margin: 0px;
}
.landing-projects .temp-question-delete-on-3 i {
  font-size: 1.3em;
  margin-top: 0.6em;
}
.landing-projects .project a {
  display: block;
  width: 100%;
  height: 100%;
}
.landing-projects .project h3 {
  margin: 5px 0;
  font-size: 1.2em;
}
.landing-projects .project:hover {
  opacity: 0.5;
}
.landing-projects .project-logo {
  display: inline-block;
  height: 3.2em;
}
.landing-projects .project-logo img {
  max-height: 3.2em;
}

/**
 * Social partial
 */

.social {
  margin: 10px auto;
  font-size: 1.5em;
  text-align: center;
}
.social a {
  padding: 0 5px;
}

/**
 * Tag partial
 */
.tag-row {
  margin: 7px 0;
}
.tag-row span {
  color: white;
  background-color: #FF7338;
  padding: 2px 5px;
  border-radius: 2px;
  margin: 0 3px; 
}
.tag-row.tags span {
  background-color: #00AC67; 
}
.tag-row span a {
  color: white; 
}

/**
 * Blog post
 */
.post-date {
  font-size: 0.6em;
  padding-top: 0.7em;
  display: block;
}
.content-raw {
  margin-bottom: 3em;
}
.content-single-post .back-button {
  font-size: 1.2em;
}
.content-raw h3,
.content-raw h4,
.content-raw h5 {
  text-align: left;
}

/**
 * Blog Archive
 */
.content-list-posts [class^="list-post"] {
  width: 50%;
  display: inline-block;
  margin: 10px 0;
  font-size: 1.3em;
}
.content-list-posts .list-post-date {
  text-align: right;
  float: right;
}

.content-list .list-title, .content-list .list-date {
  width: 50%;
  display: inline-block;
  margin: 10px 0;
  font-size: 1.3em;
}
.content-list .list-date {
  text-align: right;
  float: right;
}

/** 
 * Projects List
 */
.content-list-projects .projects-container {
  padding: 0 1em;
}
.content-list-projects .project {
  margin: 1em 0;
}
.content-list-projects .project > div {
  margin: 1em 0;
}
.content-list-projects .project .project-logo {
  padding-top: 5px;
  height: 4em;
}
.content-list-projects .project .project-logo img {
  height: 4em;
}
.content-list-projects .project .about h5 {
  border: none;
  text-align: left;
  font-size: 1.3em;
  margin: 0 0 .5em 0;
}
.content-list-projects .project .about .facts {
  margin-top: 5px;
}
.content-list-projects .project .about .facts span {
  padding: 0 5px;
}
.content-list-projects .project .about .facts .project-stage {
  font-style: italic;
  color: #FF7338;
}
.content-list-projects .project .about .facts .live {
  font-style: italic;
  color: #00AC67;
}
/**
 * Color transitions and color classes
 */

.bg-color-1 {
  background-color: #188df0;
}
.bg-color-2 {
  background-color: #08f193;
}
.bg-color-3 {
  background-color: #FF7338;
}

.color-1 {
  color: #188df0;
}
.color-2 {
  color: #08f193;
}
.color-3 {
  color: #FF7338;
}

/**
 * Footer
 */

#footer {
  width: 100%;
  text-align: center;
  color: #f5f8fb;
  opacity: 0.5;
  padding-bottom: 5px;
  position: absolute;
  bottom: 0px;
}

.home #footer, .home #footer a {
  color: white;
}

.ff-logo { width: 60px; display: inline-block; }
.ff-logo div {
  width: 15px;
  height: 15px;
  margin: 2px;
  border-radius: 50%;
  background: white;
  opacity: 0.8;
  float: left;
}
.content-list-projects .project-logo .ff-logo div {
  background-color: #357F82;
}
