<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="{{ .Site.BaseURL }}css/pure-base-min.css" />
<link rel="stylesheet" type="text/css" href="{{ .Site.BaseURL }}css/grids-min.css" />
<link rel="stylesheet" type="text/css" href="{{ .Site.BaseURL }}css/grids-responsive-min.css" />
<link rel="stylesheet" type="text/css" href="{{ .Site.BaseURL }}css/font-awesome.min.css" />
<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{{ .Site.BaseURL }}css/main.css" />
<link rel="apple-touch-icon" sizes="180x180" href="{{ .Site.BaseURL }}/favicon/apple-touch-icon.png">
<link rel="icon" type="image/png" href="{{ .Site.BaseURL }}/favicon/favicon-32x32.png" sizes="32x32">
<link rel="icon" type="image/png" href="{{ .Site.BaseURL }}/favicon/favicon-16x16.png" sizes="16x16">
<link rel="manifest" href="{{ .Site.BaseURL }}/favicon/manifest.json">
<link rel="mask-icon" href="{{ .Site.BaseURL }}/favicon/safari-pinned-tab.svg" color="#5bbad5">
<meta name="theme-color" content="#ffffff">
